# Cada proyecto tiene que venir sin db.php, se crea automáticamente
/public/mantenimiento/db.php

# Se crea con el dockerfile
/public/temporal/* 

# Estos archivos son únicos por proyecto
*.xls
*.xlsx
*.csv

# IDE config
.vscode/
.idea/

# Media
public/media/sistema/favicon/*.png
public/media/sistema/favicon/*.jpg