# Cada proyecto tiene que venir sin db.php, se crea automáticamente
/public/mantenimiento/db.php

# Se crea con el dockerfile
/public/temporal/* 

# Estos archivos son únicos por proyecto
*.xls
*.xlsx
*.csv

# IDE config
.vscode/
.idea/

# Media
public/media/sistema/favicon/*.png
public/media/sistema/favicon/*.jpg
public/media/sistema/favicon/*.jpeg

# Excepciones
!public/media/sistema/favicon/default.png
!public/media/sistema/favicon/default.jpg
!public/media/sistema/favicon/default.jpeg
!public/media/sistema/favicon/default.svg

# No trackea las fotos de perfil
public/media/usuaris/*.png
public/media/usuaris/*.jpg
public/media/usuaris/*.jpeg

# Excepciones
!public/media/usuaris/default.png
!public/media/usuaris/default.jpg
!public/media/usuaris/default.jpeg

# No trackea las fotos de los xats
public/media/xats/*.png
public/media/xats/*.jpg

# Excepciones
!public/media/xats/default.png
!public/media/xats/default.jpg

