:root {
    --color-principal: #4A68A0;
    /* Valor predeterminado */
    --color-secundario: #F5F5F5;
    /* Valor predeterminado */
    --color-terciario: #333333;
    /* Valor predeterminado */
}

/* ################# Otros ###################### */
body {
    font-family: 'Inter', sans-serif;
}

.debug {
    border-style: solid;
    border-color: black;
}

.frame {
    background-color: var(--color-secundario);
    border-radius: 13px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* .boton{
    font-family: 'Staatliches', sans-serif;
    text-align: center;
    float: none;
    margin-top: 20px;
    background-color: #4A68A0;
    color: white;
    border: none;
    font-size: 18px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */
.enFocus:focus {
    outline: none;
    border: 2px solid var(--color-principal);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* old.principal.css */
input {
    font-family: 'Inter', sans-serif;
}

input::placeholder {
    font-family: 'Inter', sans-serif;
}

input:focus,
textarea:focus {
    font-family: 'Inter', sans-serif;
    outline: none;
    border: 2px solid var(--color-principal);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0;
    /* Cambia left a 0 para que comience desde el borde izquierdo */
    right: 0;
    /* Cambia right a 0 para que termine en el borde derecho */
    padding: 5px;
}

.izquierda,
.central,
.derecha {
    flex: 1;
    /* Todos los elementos ocupan espacio igualmente */
}

.izquierda {
    text-align: left;
    padding-left: 5px;
}

.derecha {
    padding-right: 5px;
    text-align: right;
}

.central {
    text-align: center;
    /* Alinea el texto al centro */
    margin: 0;
    /* Elimina el margen para que no haya espacio adicional */
}

.botonUniversal {
    font-family: 'Staatliches', sans-serif;
    text-align: center;
    float: none;
    margin-top: 20px;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: none;
    font-size: 18px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.botonUniversal:hover {
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.botonUniversal:focus {
    font-family: 'Staatliches', sans-serif;
}

.botonUniversal_alt {
    font-family: 'Staatliches', sans-serif;
    text-align: center;
    float: none;
    margin-top: 20px;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    border: 2px solid var(--color-terciario);
    font-size: 18px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.botonUniversal_alt:hover {
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.botonUniversal_alt:focus {
    font-family: 'Staatliches', sans-serif;
}

/* ############################################# */


/* ################# Animaciones ############### */
.hovShadowPadd {
    transition: 0.3s;
}

.hovShadowPadd:hover {
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* ############################################# */

/* ################# Sombras #################### */
.shadowAll {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* ############################################# */



/* ################# Fuentes #################### */
.fuenteH1 {
    font-family: 'Staatliches', sans-serif;
}

.fuenteTexto {
    font-family: 'Inter', sans-serif;
}

/* ############################################# */



/* ################# Colores #################### */
.colorPrincipalBg {
    background-color: var(--color-principal);
}

.colorPrincipalTx {
    color: var(--color-principal);
}

.colorSecundarioBg {
    background-color: var(--color-secundario);
}

.colorSecundarioTx {
    color: var(--color-secundario);
}

.colorTextoTx {
    background-color: var(--color-terciario);
}

.colorTextoBg {
    background-color: var(--color-terciario);
}

/* ############################################# */

/* ############### Head/Foot ################### */
header {
    padding-bottom: 42px;
    padding-top: 10px;
    border-color: black;
    color: white;
    background-color: var(--color-principal);
    margin-left: 22px;
    margin-right: 22px;
}

nav {
    box-sizing: border-box;
    width: auto;
    /* Cambia esto a auto */
    left: 20px;
    /* Añade esta línea */
    right: 20px;
    /* Añade esta línea */
    position: absolute;
    display: none;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background: var(--color-secundario);
    z-index: 1;
    padding: 0;
}

nav li {
    box-sizing: border-box;
    /* Añade esta línea */
    width: 100%;
    padding: 10px;
    list-style: none;
    display: inline-block;
    border-bottom: 1px solid var(--color-terciario);
}

nav a {
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: var(--color-terciario);
}

nav a:hover {
    text-decoration: none;
}

.menu-links {
    margin-top: 10px;
    margin-right: 10px;
    /* Espaciado entre links */
    float: left;
}

h1 {
    font-family: 'Staatliches', sans-serif;
    margin-top: 0;
    padding: 0;
    margin-right: 10px;
}

.menu-hamburguesa {
    border-style: none;
    background-color: transparent;
    padding-top: 1px;
    /* Sesnsación de título en el centro del menú hamburguesa*/
    margin-left: 0;
    float: left;
}

.titulo {
    float: left;
    margin-left: 15px;
}

#info-usuari {
    margin-right: 5px;
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    border: 2px solid var(--color-terciario);
}

.info-usuari-conf {
    transition: 0.2s;
}

.logout {
    /* padding-top: 10px; */
    float: right;
}

main {
    padding-bottom: 50px;
}

footer {
    font-family: 'Staatliches', sans-serif;
    color: white;
    background-color: var(--color-principal);
    border-color: black;
    bottom: 0;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    margin: 0;
}

.popup-content {
    display: block;
    margin: auto;
}

.close {
    font-size: large;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-terciario);
}

.close:hover {
    background: var(--color-principal);
    color: white;
}

.news-bar {
    width: 100%;
    left: 0;
    background-color: var(--color-secundario);
    /* Color de fondo */
    color: var(--color-terciario);
    /* Color del texto */
    overflow: hidden;
    /* Esconde el contenido que se desborde */
    position: fixed;
    /* Fija la barra en la parte superior */
    top: 0;
    /* Posición en la parte superior */
    z-index: 2;
    padding: 2px;
    border-bottom: 1px solid var(--color-terciario);
    /* Añade un borde en la parte inferior */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Añade una sombra */
    display: block;
}

.news-content {
    width: 100%;
    text-align: right;
    white-space: nowrap;
    /* Asegura que el texto se mantenga en una sola línea */
    display: inline-block;
    animation: scroll-news 20s linear infinite;
    /* Animación que se repite infinitamente */
}

/* Animación para desplazar las noticias */
@keyframes scroll-news {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* Estilos para el botón de desplegar el submenú */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilo del botón */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Contenido del submenú */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Elementos dentro del submenú */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambia el color del enlace al pasar el mouse */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Muestra el submenú en hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Cambia el color del botón al pasar el mouse */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.notificationsFrame {
    padding-top: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.notificationsFrame p {
    padding: 2px;
    background-color: #333333;
    color: white;
}

.tableContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tableBody {
    text-align: center;
    background-color: var(--color-principal);
    border: 3px solid var(--color-principal);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;
    overflow: hidden;
}

.tableBody th {
    color: white;
    padding: 10px;
    border: none;
}

.tableBody td {
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    color: var(--color-terciario);
    background-color: var(--color-secundario);
    border: 2px solid var(--color-principal);
}

/* ############################################# */


/* Móviles here!!! */
#footerDesktop {
    display: flex;
}

#footerMobile {
    display: none;
}

@media screen and (max-width: 700px) {
    .centrado a {
        margin: 0 5%;
        display: inline-block;
    }

    .centrado {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .centrado div {
        width: 100%;
    }

    #footerDesktop {
        display: none;
    }

    #footerMobile {
        display: block;
        padding-top: 15px;
    }
}


@media screen and (max-width: 500px) {
    .menu-links {
        display: none;
    }

    #logoutBoton {
        display: none;
    }

    .logout {
        display: none;
    }
}