:root {
    --color-principal: #4A68A0;
    /* Valor predeterminado */
    --color-secundario: #F5F5F5;
    /* Valor predeterminado */
    --color-terciario: #333333;
    /* Valor predeterminado */
}

/* Contenedor del Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    /* Tamaño más pequeño */
    height: 24px;
    /* Tamaño más pequeño */
}

/* Estilo del switch - off/on */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilo del slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbbbbb;
    transition: .4s;
    border: 1px solid transparent
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    /* Ajuste al nuevo tamaño */
    width: 18px;
    /* Ajuste al nuevo tamaño */
    left: 2px;
    /* Ajuste para el borde */
    bottom: 2px;
    /* Ajuste para el borde */
    background-color: var(--color-secundario);
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--color-principal);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-secundario);
}

input:checked+.slider:before {
    transform: translateX(24px);
    /* Ajuste al nuevo tamaño */
}

/* Estilo redondeado */
.slider.round {
    border-radius: 24px;
    /* Ajuste al nuevo tamaño */
}

.slider.round:before {
    border-radius: 50%;
}

.nav-admin {
    color: var(--color-terciario);
}

.nav-admin ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-admin a {
    text-decoration: none;
    border-radius: 4px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.1s linear;
    float: left;
    margin-right: 10px;
    color: var(--color-terciario);
}

.nav-admin a:hover {
    transition: 0.1s linear;
    color: white !important;
    background-color: var(--color-principal);
}

.active {
    transition: 0.1s linear;
    color: white;
    background-color: var(--color-principal);
}

.active:hover {
    transition: 0.1s linear;
    color: white;
    background-color: var(--color-principal);
}

.vistaLibro {
    display: none;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.vistaLibro input[type="text"] {
    width: 300px;
    padding: 5px;
    margin: 5px;
}

.primerInput {
    margin-right: 30px !important;
}