:root {
    --color-principal: #4A68A0; /* Valor predeterminado */
    --color-secundario: #F5F5F5; /* Valor predeterminado */
    --color-terciario: #333333; /* Valor predeterminado */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--color-principal); /* Morado */
}
main{
    text-align: center;
    display: block;
}
h1{
    font-size: 52px;
    color: var(--color-terciario);
    margin-top: 10px;
    font-family: 'Staatliches', sans-serif;
    margin-bottom: 15px;
}
p{
    color: var(--color-terciario);
}
footer{
    border:none;
}
.copyright{
    text-align: center;
    color: white;
    font-family: 'Staatliches', sans-serif;
}
@media (max-width: 768px) {
    .izquierda{
        display: none;
    }
    .central{
        text-align: left;
    }
}