:root {
    --color-principal: #4A68A0;
    /* Valor predeterminado */
    --color-secundario: #F5F5F5;
    /* Valor predeterminado */
    --color-terciario: #333333;
    /* Valor predeterminado */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--color-principal);
    /* Morado */
}

.login {
    text-align: center;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    color: var(--color-terciario);
    /* Negro */
    background-color: var(--color-secundario);
    /* Gris */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
}

h1 {
    margin-top: 10px;
    font-family: 'Staatliches', sans-serif;
    margin-bottom: 15px;
}

label {
    font-weight: 600;
    float: left;
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
    max-width: 100%;
    float: left;
}

input:focus {
    outline: none;
    border: 2px solid var(--color-principal);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* #password {
    width: 80%;
} */

#showHideHolder {
    float: left;
    margin-top: 1px;
    margin-left: 5px;
}

.submit {
    font-family: 'Staatliches', sans-serif;
    text-align: center;
    float: none;
    margin-top: 20px;
    background-color: var(--color-principal);
    color: white;
    border: none;
    font-size: 18px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.submit:hover {
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.submit:focus {
    font-family: 'Staatliches', sans-serif;
}

footer {
    border: none;
}

.copyright {
    text-align: center;
    color: white;
    font-family: 'Staatliches', sans-serif;
}

@media (max-width: 768px) {
    .izquierda {
        display: none;
    }

    .central {
        text-align: left;
    }
}

@media (max-width: 600px) {
    main {
        transform: scale(1.4);
    }
}

@media (max-width: 500px) {
    .login {
        padding: 40px;
    }
}

@media (max-width: 420px) {
    main {
        transform: scale(1.2);
    }

    .login {
        padding: 30px;
    }
}

#loginConfirmacion {
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    display: none;
    text-align: center;
    padding: 8px;
    color: white;
    border-radius: 4px;
    margin-top: -25px;
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}