.container {
    display: flex;
    flex-wrap: nowrap;
}

.aside-image, .aside-text {
    float: left;
    box-sizing: border-box; /* Esto asegura que el padding y el borde del elemento se incluyan en su ancho total */
}

.aside-text{
    margin-left: 10px;
}

.book-image {
    border: 2px solid #333333;
    border-radius: 4px;
    width: 400px;
    height: 500px;
}

article {
    flex: 1 0 100%; /* Esto significa que el artículo tendrá un ancho base del 100%, pero puede crecer para llenar el espacio disponible si es necesario */
    box-sizing: border-box; /* Esto asegura que el padding y el borde del elemento se incluyan en su ancho total */
}

.vistaLibro{
    margin-top: 20px;
}