/*© Joan Aneas*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/*############# COMUN ###############*/
*{
    font-family:  'Work Sans', sans-serif;
    background-color: #eae9e8;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
}

a:hover{
    text-decoration: underline;
}

.debug{
    border-style: solid;
    border-color: black;
}

.centrado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    left: 0; /* Cambia left a 0 para que comience desde el borde izquierdo */
    right: 0; /* Cambia right a 0 para que termine en el borde derecho */
    padding: 5px;
}

.izquierda, .central, .derecha {
    flex: 1; /* Todos los elementos ocupan espacio igualmente */
}
.izquierda{
    text-align: left;
    padding-left: 5px;
}
.derecha{
    padding-right: 5px;
    text-align: right;
}
.central{
    text-align: center; /* Alinea el texto al centro */
    margin: 0; /* Elimina el margen para que no haya espacio adicional */
}
/*###################################*/

/*############# HEADER ##############*/
header{
    padding: 5px;
    padding-bottom: 45px;
    border-bottom-style: solid;
    border-color: black;
}

.menu-hamburguesa{
    margin-top: 10px;
    width: 20px;
    float: left;
}

h1{ padding: 0; margin: 0;}

.titulo{
    padding: 0%;
    float: left;
    margin-left: 30px;
    max-width: fit-content;
}

.cuenta-logout{
    max-width: fit-content;
    float: right;
}
/*###################################*/

/*############ CONTINGUT ############*/
section{
    margin-top: 70px;
}
/*###################################*/

/*############# FOOTER ##############*/
footer {
    border-top-style: groove;
    border-color: black;
    bottom: 0;
}
/*###################################*/